html {
  height: 100%;
}

body {
  background-color: #f9f9f9;
}

nav.navbar.navbar-default {
  background-color: #303A4C;
  border-color: #303A4C;
  border-radius: 0;
  margin-bottom: 0;
  height: 60px;
}

.navbar-brand {
  color: white !important;
  font-size: 20px;
  line-height: 30px;
}

.navbar-toggle, .navbar-toggle:hover {
  background-color: white;
}

.fa {
  color: #28D3AB;
}

.fa:hover {
  color: #2DC4A1;
}

.entry_list {
  background-color: #6362B8;
}

@media (min-width: 768px) {
  .entry_list {
    overflow:auto;
    bottom: 0;
    top: 60px;
    position: fixed;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.entry_listing {
  border-right: 1px solid #303A4C;
  border-bottom: 1px solid #303A4C;
  padding: 10px;
  color:white;
}

.main-section {
  padding-top: 90px;
}

.btn-green {
  background-color: #28D3AB;
  color: white;
}

.btn-green:hover {
  background-color: #2DC4A1;
  color: white;
}

a, a:hover {
  color: #333333;
  text-decoration: none;
}

.grey-text {
  color: #B0B6DE;
}

.form-control:focus {
  border-color: #28D3AB;
}
